.App {
  text-align: center;
  color: #F2622E;
}

.ui.header{
 color: #049DBF;
}

body .ui.cards>.card{
  box-shadow: none;
}


i.backToLobby{
  background-image: url(/img/backNavButton@2x.png);
  background-size: cover;
}

i {
  color: #3290C4;
}

.board h4{
  margin: 0;
}